set completion-ignore-case on
Control-j: menu-complete
"\e[B": history-search-forward
"\e[A": history-search-backward
$if Bash
	Space: magic-space
$endif

{{ if eq .chezmoi.os "linux" -}}
# For bash >= 4.x, not on MacOS
set completion-prefix-display-length 2
Control-k: menu-complete-backward
{{ end -}}