setopt NO_CASE_GLOB
setopt AUTO_CD
setopt CORRECT

# History options

HISTFILE=${ZDOTDIR:-$HOME}/.zsh_history
setopt EXTENDED_HISTORY
SAVEHIST=5000
HISTSIZE=2000
setopt SHARE_HISTORY
setopt APPEND_HISTORY
setopt INC_APPEND_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_REDUCE_BLANKS
setopt HIST_VERIFY

autoload bashcompinit && bashcompinit

fpath+="$HOME/.local/share/zsh/site-functions"

zstyle ':completion:*' completer _complete _ignored
zstyle ':completion:*' matcher-list 'm:{[:lower:]}={[:upper:]}'
zstyle :compinstall filename ${ZDOTDIR:-$HOME}/.zshrc

alias vim="nvim"
alias nv="nvim"

autoload -Uz compinit
compinit -i

bindkey \^U backward-kill-line

autoload -z edit-command-line
zle -N edit-command-line
bindkey "^X^E" edit-command-line

export FZF_DEFAULT_COMMAND='rg --files --hidden'
export FZF_CTRL_T_COMMAND="${FZF_DEFAULT_COMMAND}"
export PROMPT="%2~ %# "
export PYTHONSTARTUP="${HOME}/.pythonrc"
if command -v nvim >/dev/null; then
    export EDITOR=nvim
elif command -v vim >/dev/null; then
    export EDITOR=vim
fi

bindkey -e

function source_exists() {
  if [ -f "$1" ]; then
    source "$1"
  fi
}

{{ if eq .chezmoi.os "darwin" -}}
source_exists /opt/homebrew/opt/fzf/shell/key-bindings.zsh
source_exists /opt/homebrew/opt/fzf/shell/completion.zsh
{{ else if eq .chezmoi.os "linux" -}}
source_exists /usr/share/doc/fzf/examples/key-bindings.zsh
source_exists /usr/share/doc/fzf/examples/completion.zsh
{{ end -}}

if command -v jj >/dev/null; then
  source <(jj util completion zsh)
fi

# Evaluated on login, so affects scripts
eval "$(/opt/homebrew/bin/brew shellenv)"

if command -v mise >/dev/null; then
    eval "$(mise activate zsh)"
fi

# Added by OrbStack: command-line tools and integration
# Comment this line if you don't want it to be added again.
# source ~/.orbstack/shell/init.zsh 2>/dev/null || :
source_exists ~/.orbstack/shell/init.zsh 2>/dev/null || :

source_exists "$HOME/.zshrc_local"
