#!/usr/bin/env bash

set -euo pipefail

TEMPDIR=$(mktemp -d)
trap "rm -rf $TEMPDIR" EXIT

mkdir -p "$HOME/.local/bin"
mkdir -p "$HOME/.local/share"

{{ if eq .chezmoi.os "darwin" -}}

brew update
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
curl -fsSL -o jj.tar.gz https://github.com/martinvonz/jj/releases/download/v0.21.0/jj-v0.21.0-aarch64-apple-darwin.tar.gz
tar xzf jj.tar.gz
mv jj $HOME/.local/bin/
{{ end -}}
# We don't do anything for ubuntu because the installation may conflict with existing stuff

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s - -y --no-modify-path
curl -LsSf https://astral.sh/uv/install.sh | sh

