#!/usr/bin/env bash

set -euo pipefail

TEMPDIR=$(mktemp -d)
trap "rm -rf $TEMPDIR" EXIT

mkdir -p "$HOME/.local/bin"
mkdir -p "$HOME/.local/share"

{{ if eq .chezmoi.os "darwin" -}}

brew update
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ else if eq .chezmoi.os "linux" -}}
curl https://mise.jdx.dev/mise-latest-linux-x64 > ~/.local/bin/mise
chmod +x ~/.local/bin/mise
{{ end -}}

# We don't do anything for ubuntu because the installation may conflict with existing stuff

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s - -y --no-modify-path
curl -LsSf https://astral.sh/uv/install.sh | sh

