{{ if eq .chezmoi.os "darwin" }}
command = /opt/homebrew/bin/fish
initial-command = /opt/homebrew/bin/fish
font-feature = "-calt, -liga, -dlig"
{{ else if eq .chezmoi.os "linux" }}
command = /usr/local/bin/fish
initial-command = /usr/local/bin/fish
{{ end }}
